body {background-color: cornsilk}

h1 {
    margin-bottom: 50px;
    border-radius: 28px;
    text-align: center;
    background-color: darkcyan;
    background-color: lightseagreen;
    text-shadow: 1px 1px 1px grey,
                2px 2px 1px grey;
}

h3 {
    margin-top: 1px;
    margin-bottom: 1px;
}

#Interests {
    width: 350px;
    margin:auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px lightgrey;
    background-color: white;
}

.Scrollbox {
    width:150px;
    height:150px;
    line-height:  15px;
    overflow:scroll;
    padding:5px;
    background-color:white;
    color:black;
    border:4px double lightseagreen;
}

#Users {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0 15px;
}

th, td {
        width: auto;
        text-align: center;
        border: 1px solid lightseagreen;
        padding: 10px;
      }

#Users td {
    text-align: center;
    margin-top: auto;
}

#Users tr {
    margin-top: 20px;
    margin-bottom: auto;
    padding: 20px;
}

#Users td:first-child {
    text-align: left;
}
.edit {
    width: 345px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}  

#edit_button {
    border-collapse: separate;
    border-spacing: 0 15px;
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
    
    font-weight: 600;
    padding: 0 24px;
    border-radius: 28px;
    width: 345px;
    height: 40px;

    background-color: lightseagreen;
    color: white;
}

#edit_button:hover {
    background-color: darkcyan;
}
#logout_button {
    background-color: lightgray;
    border-collapse: separate;
    border-spacing: 0 15px;
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
    
    font-weight: 600;
    padding: 0 24px;
    border-radius: 28px;
    width: 345px;
    height: 40px;

}

#logout_button:hover {
    background-color: darkgray;
}

.dropbtn {
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-contactInfo {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: auto;
    overflow: auto;
  }
  
  .dropdown-contactInfo a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  
  .dropdown-contactInfo a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-contactInfo {display: block;}
  
  .dropdown:hover .dropbtn {background-color: lightseagreen}